<mat-stepper #stepper>
  <mat-step label="Satisfy Dependencies">
    <mat-card>
      <div *ngIf="missingBinaries?.length != 0; else allGood" class="center-container mat-body">
        <mat-card-title>You need some dependencies first:</mat-card-title>
        <p class=""mat-subheader>Choose what you'd like me to install for you</p>
        <mat-selection-list (selectionChange)="setSelectedDeps()" #selectedDeps>
          <mat-list-option *ngFor="let missing of missingBinaries" [value]="missing">
            {{missing}}
          </mat-list-option>
        </mat-selection-list>
      </div>
      <ng-template class="center-container" #allGood>
        <h1>You're good to go!</h1>
        <p class="center-text">You've got all the deps</p>
      </ng-template>
    </mat-card>
    <div>
      <button [disabled]="selectedForInstall.length == 0" color="accent" (click)="installDeps()" mat-button>Install Selected</button>
      <!-- <button (click)="reCheckDeps()" mat-button>Check Deps Again</button> -->
      <button [disabled]="!depsSastified" color="accent" matStepperNext mat-button>Next</button>
    </div>
  </mat-step>

  <mat-step label="Clone Config">
    <div class="center-container">
      <h1>Now let's Clone NeoCode's Config</h1>
      <p>Don't worry - I'll back up your current config first.</p>
        <mat-progress-bar mode="determinate" [value]="clonePercent"></mat-progress-bar>
      <div *ngIf="cloneDone">
        <h2>All Done!</h2>
      </div>
      <div>
        <button matStepperPrevious color="warn" mat-button>Back</button>
        <button (click)="clone_repo_api()" mat-button>Clone</button>
        <button (click)="backup()" mat-button>Backup Current Config</button>
        <button [disabled]="!cloneDone" color="primary" matStepperNext mat-button>Next</button>
      </div>
    </div>
  </mat-step>


  <mat-step label="Set Options">
    <button mat-button>Create User Config</button>
    <button (click)="packerInstall()" mat-button>Run Packer Insall</button>
  </mat-step>


</mat-stepper>