:host {
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 90px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  height: 65px;
}
